<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulari d'Inscripció - Atletisme</title>
</head>
<body>

<h2>Formulari d'Inscripció - Atletisme</h2>
<!-- <h3>Los juegos favoritos de {{username}}, edat: {{user2}}</h3>
<ul>
  @for(game of games; track game.id){
    <li (click)="fav(game.name)">{{game.name}}</li>
  }
</ul> -->

     <fieldset>
        <legend>Dades Identificatives</legend>
        <label for="dni">DNI:</label>
        <input type="text" id="dni" [(ngModel)]="dniNumeros">
        <p>Lletra: {{mostrarLletraDni()}}</p>
        <label>Codi de Federació:</label>
        <input type="text">
        <label>Nom i Cognoms:</label>
        <input type="text">
        
        <label>Telèfon:</label>
        <input type="tel">
        
        <label>Email:</label>
        <input type="text">
    </fieldset>

 
<fieldset>
        <legend>Inscripció</legend>
        <p>Un atleta no es pot inscriure a més de 1200 metres.</p>
        <div class="checkbox-group">
            <label><input type="checkbox"> 100m llisos</label>
            <label><input type="checkbox"> 200m llisos</label>
            <label><input type="checkbox"> 400m</label>
            <label><input type="checkbox"> 800m</label>
            <label><input type="checkbox"> 1000m</label>
        </div>
        
        <button type="submit">Inscripció</button>
</fieldset>

</body>
</html>