<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulari d'Inscripció - Atletisme</title>
</head>
<body>

<h2>Formulari d'Inscripció - Atletisme</h2>

<form>
    <fieldset>
        <legend>Dades Identificatives</legend>
        <label>DNI:</label>
        <input type="text"> 
        
        <label>Codi de Federació:</label>
        <input type="text">
        
        <label>Nom i Cognoms:</label>
        <input type="text">
        
        <label>Telèfon:</label>
        <input type="tel">
        
        <label>Email:</label>
        <input type="text">
    </fieldset>
</form>
<fieldset>
        <legend>Inscripció</legend>
        <p>Un atleta no es pot inscriure a més de 1200 metres.</p>
        <div class="checkbox-group">
            <label><input type="checkbox" name="distancies" value="100m llisos"> 100m llisos</label>
            <label><input type="checkbox" name="distancies" value="200m llisos"> 200m llisos</label>
            <label><input type="checkbox" name="distancies" value="400m"> 400m</label>
            <label><input type="checkbox" name="distancies" value="800m"> 800m</label>
            <label><input type="checkbox" name="distancies" value="1000m"> 1000m</label>
        </div>
        
        <button type="submit">Inscripció</button>
</fieldset>

</body>
</html>