<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulari d'Inscripció - Atletisme</title>
</head>
<body>

<h2>Formulari d'Inscripció - Atletisme</h2>


    <fieldset>
        <legend>Dades Identificatives</legend>
        <label>DNI:</label>
        <input type="text">
        
        <label>Codi de Federació:</label>
        <input type="text">
        
        <label>Nom i Cognoms:</label>
        <input type="text">
        
        <label>Telèfon:</label>
        <input type="text">
        
        <label>Email:</label>
        <input type="text">
    </fieldset>

</body>
</html>